appscript==1.1.0
asgiref==3.2.3
beautifulsoup4==4.8.2
blis==0.4.1
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
comtypes==1.1.7
configobj==5.0.6
configparser==4.0.2
convertapi==1.1.1
cymem==2.0.3
decorator==4.4.2
Django==3.0.7
djangorestframework==3.11.0
docx2pdf==0.1.5
docx2txt==0.8
en-core-web-sm==2.2.5
etelemetry==0.1.2
filelock==3.0.12
fitz==0.0.1.dev2
httplib2==0.17.0
idna==2.9
isodate==0.6.0
lxml==4.5.0
murmurhash==1.0.2
networkx==2.4
neurdflib==5.0.1
nibabel==3.0.1
nipype==1.4.2
nltk==3.4.5
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pdfminer==20191125
Pillow==7.0.0
plac==1.1.3
preshed==3.0.2
prov==1.5.3
pycryptodome==3.9.7
pydot==1.4.1
pydotplus==2.0.2
PyMuPDF==1.16.11
pyparsing==2.4.6
PyPDF2==1.26.0
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
pyxnat==1.2.1.0.post3
rdflib==4.2.2
requests==2.23.0
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
soupsieve==2.0
spacy==2.2.3
sqlparse==0.3.1
srsly==1.0.2
textblob==0.15.3
thinc==7.3.1
tqdm==4.43.0
traits==6.0.0
urllib3==1.25.8
wasabi==0.6.0
wikipedia==1.4.0